<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <span  class="text1">Welcome to Crypto</span>
        </div>
        
    </div>
    <br/><br/>
    <div class="row">
        <div class="col-sm-7">
            <p class="text2" style="font-size:25px;line-height:1.8em;margin-top:20px;">
                We're on a mission to educate the masses on the transformative potential of cryptocurrency and blockchain technology. On this website, you'll find over 280 articles covering everything from 
                computer security to economics. Oh, and they're in 21 different languages.
            </p>
        </div>
        <div class="col-sm-5">
            <img src="../../assets/crypto1.jpg" width="600" alt=""  />
        </div>

    </div>
    <br/><br/>
    <div class="row">
        <div class="col-sm-10">
            <p style="font-size:25px;line-height:1.8em;margin-top:20px;">We know it can be a little daunting when you're new. This guide is here to gently introduce you to some of the key 
                concepts you need to kick-start your journey into the world of blockchain tech.</p>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm-3"></div>
        <div calss="col-sm-4">
            <a routerLink="../coinlist"><button class="btn btn-primary" style="font-weight:bold;">Details ..</button></a>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-6">
         <img src="../../assets/wallet-buy-phone.png" style="height:650px;width:520px;"/>
        </div>
        <div class="col-md-6">
               <span class="buy1">
                Buy , sell , and swap<br/> crypto in minutes</span>
                <br/>
                <p class="buy2 text-muted">
                    Verify your identity, add a payment method — like a debit card or
                     bank account — and you’re good to go.
                </p>
                <p class="buy2 text-muted">
                Want to buy bitcoin? Swap your Ethereum (ETH) for
                 Stellar Lumens (XLM)? Settle on-chain? We got you covered.
                </p>
        </div>
    </div>
    
    <br/>
    <div class="row">
        <div class="col-md-6">
            <span class="buy1">
                Transfer crypto and watch it grow</span>
                <br/>
                <p class="buy2 text-muted">
                    Transfer Bitcoin, Ethereum, and other crypto to a Rewards Account and you'll
                     earn up to 13.5% in rewards annually, deposited monthly.
                </p>
                <p class="buy2 text-muted">
                Want to buy bitcoin? Swap your Ethereum (ETH) for
                 Stellar Lumens (XLM)? Settle on-chain? We got you covered.
                </p>
        
        </div>
        <div class="col-md-6">
            <img src="../../assets/wallet-interest-phone.png"  class="img1"/>
              
        </div>
    </div>
    <br/>
 
</div>
<div class="container-fluid">
    <!--<div class="row">
        <div class="col-md-12 section3">
            <span class="back_text">sdjfhdsgdlgjdflkhjflkh sdjgdlkgfdlkh sdlkfdslkgjlkhg</span>
        </div>
    </div>-->
      
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="background-color: black; color:white ; text-align: center; height: 60px; font-size:20px; padding:10px; ">&copy;
        Rameshwaram Institute of Technology and Management</div>
    </div>
</div>